*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: grey;
}
.content{
	font-family: 'Nunito', sans-serif;
	width: 70%;
	margin:auto;
}


.boxx{
	background-color: white;
	padding: 4% 5% 7%;
	margin-top: 100px;
	margin-bottom: 100px;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}
p{
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;
}




